/****** Object:  StoredProcedure [dbo].[sp_ApplyLabel]    Script Date: 04/22/2007 19:27:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_ApplyLabel]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_ApplyLabel]
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectQuery]    Script Date: 04/22/2007 19:27:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SelectQuery]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_SelectQuery]
GO
/****** Object:  StoredProcedure [dbo].[sp_ArticleSearch]    Script Date: 04/22/2007 19:27:58 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_ArticleSearch]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_ArticleSearch]
GO
/****** Object:  StoredProcedure [dbo].[sp_EntrySearch]    Script Date: 04/22/2007 19:27:58 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_EntrySearch]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_EntrySearch]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabels]    Script Date: 04/22/2007 19:27:58 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_GetLabels]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_GetLabels]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetQueryByLabel]    Script Date: 04/22/2007 19:27:58 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_GetQueryByLabel]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_GetQueryByLabel]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertArticle]    Script Date: 04/22/2007 19:27:58 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_InsertArticle]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_InsertArticle]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertMedia]    Script Date: 04/22/2007 19:27:58 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_InsertMedia]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_InsertMedia]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertQuery]    Script Date: 04/22/2007 19:27:59 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_InsertQuery]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_InsertQuery]
GO
/****** Object:  StoredProcedure [dbo].[sp_MediaSearch]    Script Date: 04/22/2007 19:27:59 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_MediaSearch]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_MediaSearch]
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveTempQuery]    Script Date: 04/22/2007 19:27:59 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SaveTempQuery]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_SaveTempQuery]
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectAllQuery]    Script Date: 04/22/2007 19:27:59 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SelectAllQuery]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_SelectAllQuery]
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectEntry]    Script Date: 04/22/2007 19:27:59 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SelectEntry]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_SelectEntry]
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectEntryType]    Script Date: 04/22/2007 19:28:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SelectEntryType]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_SelectEntryType]
GO
/****** Object:  StoredProcedure [dbo].[sp_ApplyLabel]    Script Date: 04/22/2007 19:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_ApplyLabel]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'	CREATE PROCEDURE dbo.sp_ApplyLabel
		(
		@LabelId UNIQUEIDENTIFIER,
		@QueryId UNIQUEIDENTIFIER
		)
	AS
	BEGIN

	SET NOCOUNT ON
	IF EXISTS (SELECT * FROM tbl_LabelQueryAssociation where LabelId=@LabelId AND QueryId=@QueryId)
	     
	     RETURN 2
	     
	INSERT INTO tbl_LabelQueryAssociation (LabelId,QueryId) VALUES (@LabelId,@QueryId)
		RETURN 1
	END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectQuery]    Script Date: 04/22/2007 19:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SelectQuery]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE dbo.sp_SelectQuery 
(
	@QueryId uniqueidentifier
)
AS

BEGIN
	SET NOCOUNT ON
    DECLARE @QueryCount int
    
    SELECT @QueryCount=COUNT(QueryId) FROM tbl_Query WHERE QueryId=@QueryId
	
	IF (@QueryCount<>0)
		BEGIN
		SELECT QueryId,ServiceType,QueryContent 
		FROM tbl_Query WHERE QueryId=@QueryId
		END
	ELSE
		BEGIN
		SELECT QueryId,ServiceType,QueryContent 
		FROM tbl_TempQuery WHERE QueryId=@QueryId
		END
	
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ArticleSearch]    Script Date: 04/22/2007 19:28:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_ArticleSearch]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE dbo.sp_ArticleSearch
	(
	@SearchKey nvarchar(200)
	)
AS

BEGIN

SET NOCOUNT ON

SELECT Id,EntryId,Title,Updated,ServiceType,Summary,
Published,Author,MediaType,Content
FROM tbl_Entry as o
INNER JOIN tbl_Article as t ON o.Id=t.EntryId
where (Title like ''%''+@SearchKey+''%'' 
OR Summary like ''%''+@SearchKey+''%'' 
Or t.Content like ''%''+@SearchKey+''%'')

	RETURN
END
	
' 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EntrySearch]    Script Date: 04/22/2007 19:28:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_EntrySearch]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE dbo.sp_EntrySearch 
	(
	@SearchKey nvarchar(200)
	)
AS
BEGIN

SET NOCOUNT ON

SELECT Id,Title,Updated,ServiceType,Summary,
Published,Author,MediaType,article.Content as Content,media.Content as Content
FROM tbl_Entry as entry
left JOIN tbl_Article as article ON entry.Id=article.EntryId
left join tbl_Media as media ON entry.Id=media.EntryId
where (Title like ''%''+@SearchKey+''%'' 
OR Summary like ''%''+@SearchKey+''%'' 
Or article.Content like ''%''+@SearchKey+''%'')

	RETURN
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLabels]    Script Date: 04/22/2007 19:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_GetLabels]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE dbo.sp_GetLabels

AS
BEGIN
SET NOCOUNT ON

SELECT LabelId,LabelName,Description FROM tbl_Label


	RETURN
	
END
	
' 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetQueryByLabel]    Script Date: 04/22/2007 19:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_GetQueryByLabel]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE dbo.sp_GetQueryByLabel
	(
	@LabelId UNIQUEIDENTIFIER
	)
AS

BEGIN

SELECT o.QueryId,ServiceType,QueryContent 
	FROM tbl_LabelQueryAssociation AS o
	INNER JOIN tbl_Query AS t ON o.QueryId=t.QueryId
	WHERE LabelId=@LabelId
	
	RETURN
END
	
' 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertArticle]    Script Date: 04/22/2007 19:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_InsertArticle]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE dbo.sp_InsertArticle
	(
	@Id uniqueidentifier,
	@Title nvarchar(100),
	@Summary nvarchar(200),
	@ServiceType nvarchar(100),
	@Author uniqueidentifier,
	@Content ntext,
	@MediaType nvarchar(50)
	)
AS

BEGIN
	DECLARE @TransName VARCHAR(20)
	SET @TransName = ''InsertArticleTransaction''

	BEGIN TRANSACTION @TransName;
		Insert Into tbl_Entry( Id, Title,Summary,ServiceType,Author,MediaType) values(
		@Id,@Title,@Summary,@ServiceType,@Author,@MediaType)
		
		IF (@@ERROR<>0)
			BEGIN
				ROLLBACK TRANSACTION @TransName
				Return -1 --Insert into entry error.
			END
		ELSE 
			BEGIN
				Insert Into tbl_Article (EntryId, Content) values(@Id,@Content)
			
				IF(@@ERROR<>0)
					BEGIN
						ROLLBACK TRANSACTION @TransName
						RETURN -2 --Insert into article error.
					END
				ELSE 
					BEGIN
					    COMMIT TRANSACTION @TransName
					    RETURN 1 --SUCCESS
					END
			END
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertMedia]    Script Date: 04/22/2007 19:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_InsertMedia]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE dbo.sp_InsertMedia
	(
	@Id uniqueidentifier,
	@Title nvarchar(100),
	@Summary nvarchar(200),
	@ServiceType nvarchar(100),
	@Author uniqueidentifier,
	@Content nvarchar(MAX),
	@MediaType nvarchar(50)
	)
AS

BEGIN
	DECLARE @TransName VARCHAR(20)
	SET @TransName = ''InsertMediaTransaction''

	BEGIN TRANSACTION @TransName;
		Insert Into tbl_Entry( Id, Title,Summary,ServiceType,Author,MediaType) values(
		@Id,@Title,@Summary,@ServiceType,@Author,@MediaType)
		
		IF (@@ERROR<>0)
			BEGIN
				ROLLBACK TRANSACTION @TransName
				Return -1 --Insert into entry error.
			END
		ELSE 
			BEGIN
				Insert Into tbl_Media (EntryId, Content) values(@Id,@Content)
			
				IF(@@ERROR<>0)
					BEGIN
						ROLLBACK TRANSACTION @TransName
						RETURN -2 --Insert into video error.
					END
				ELSE 
					BEGIN
					    COMMIT TRANSACTION @TransName
					    RETURN 1 --SUCCESS
					END
			END
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertQuery]    Script Date: 04/22/2007 19:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_InsertQuery]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE dbo.sp_InsertQuery 
	(
	@QueryId uniqueidentifier,
	@ServiceType nvarchar(100),
	@QueryContent xml
	)
AS

BEGIN
	SET NOCOUNT ON
	
	INSERT INTO tbl_Query
	(
	    QueryId,ServiceType,QueryContent
	) values
	(
	@QueryId,@ServiceType,@QueryContent
	)
	
	RETURN
	
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MediaSearch]    Script Date: 04/22/2007 19:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_MediaSearch]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE dbo.sp_MediaSearch
	(
	@SearchKey nvarchar(200)
	)
AS

BEGIN

SET NOCOUNT ON

SELECT Id,EntryId,Title,Updated,ServiceType,Summary,
Published,Author,MediaType,Content
FROM tbl_Entry as o
INNER JOIN tbl_Media as t ON o.Id=t.EntryId
where (Title like ''%''+@SearchKey+''%'' 
OR Summary like ''%''+@SearchKey+''%'' 
)

	RETURN
END
	
' 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveTempQuery]    Script Date: 04/22/2007 19:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SaveTempQuery]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE dbo.sp_SaveTempQuery 
	(
	@QueryId uniqueidentifier,
	@ServiceType nvarchar(100),
	@QueryContent xml
	)
AS

BEGIN
	SET NOCOUNT ON
	
	INSERT INTO tbl_TempQuery
	(
	    QueryId,ServiceType,QueryContent
	) values
	(
	@QueryId,@ServiceType,@QueryContent
	)
	
	RETURN
	
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectAllQuery]    Script Date: 04/22/2007 19:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SelectAllQuery]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE dbo.sp_SelectAllQuery 

AS

BEGIN
	SET NOCOUNT ON
	
	SELECT QueryId,ServiceType,QueryContent 
	FROM tbl_Query
	
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectEntry]    Script Date: 04/22/2007 19:28:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SelectEntry]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE dbo.sp_SelectEntry

	(
	@EntryId uniqueidentifier
	)

AS
	/* SET NOCOUNT ON */ 
	SELECT Id,Title,Updated,ServiceType,Summary,
Published,Author,article.Content as Content,media.Content as Content
 from tbl_Entry as entry
left JOIN tbl_Article as article ON entry.Id=article.EntryId
left join tbl_Media as media ON entry.Id=media.EntryId
WHERE entry.Id=@EntryId
	
	RETURN
' 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectEntryType]    Script Date: 04/22/2007 19:28:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SelectEntryType]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE dbo.sp_SelectEntryType 

	(
	@EntryId uniqueidentifier
	)

AS
	/* SET NOCOUNT ON */ 
	
	Select ServiceType from tbl_Entry where Id=@EntryId
	
	RETURN
' 
END
GO
